<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}DSNP{% if page.layout == "post" %} Blog{% endif %} - {{page.title}}{% else %}DSNP - Decentralized Social Networking Protocol{% endif %}</title>
    <meta name="description" content="{% if page.blurb %}{{page.blurb}}{% else %}DSNP establishes a shared social graph no longer dependent on a specific app or centralized platform.{% endif %}">
    <meta name="author" content="{% if page.author %}{{page.author}}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dsnp_org">
    <meta name="twitter:creator" content="@dsnp_org">
    <meta name="twitter:title" content="{% if page.title %}DSNP{% if page.layout == "post" %} Blog{% endif %} - {{page.title}}{% else %}DSNP - Decentralized Social Networking Protocol{% endif %}">
    <meta name="twitter:description" content="{% if page.blurb %}{{page.blurb}}{% else %}DSNP establishes a shared social graph no longer dependent on a specific app or centralized platform.{% endif %}">
{% if page.featuredimage %}
    <meta name="twitter:image" content="{{page.featuredimage}}">
{% endif %}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css?ver=0523.2">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="https://dsnp.matomo.cloud/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src='//cdn.matomo.cloud/dsnp.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
     </script>
  </head>
<body>
<div class="container pageTop">
  <a href="/"><img src="/pl-slash.webp" height=52px></a>
  <div class="content">
      <div class="row">
          {{ content }}
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="eight columns">
        <ul class="footerNav">
          <li><a href="https://github.com/LibertyDSNP/meta/blob/main/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a></li>
          <li><a href="/privacy.html">Privacy</a></li>
          <li><a href="/cookies.html">Cookies</a></li>
          <li><a href="mailto:hello@dsnp.org">hello@dsnp.org</a></li>
        </ul>
      </div>
      <div class="three columns offset-by-one copyright">© Project
        Liberty Institute</div>
    </div>
  </footer>
</body>
</html>
