---
layout: basic
---
        <div class="eight columns">
          {{ content }}
        </div>
        <div class="three columns offset-by-one">
          <div class="heading social">
            <ul class="socialLinks">
              <li><a href="https://github.com/LibertyDSNP" target="_blank"><img src="/images/icon-github.png" width="26px" title="Project Liberty Papers"></a></li>
              <li><a href="https://twitter.com/dsnp_org" target="_blank"><img src="/images/icon-twitter.png" width="26px" title="DSNP on Twitter"></a></li>
            </ul>
          </div>
          <ul class="nav">
            <li><a href="/introducing-dsnp.html">Introduction</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/dsnp_whitepaper.pdf"
            target="_blank">Whitepaper</a></li>
            <li><a href="https://spec.dsnp.org/" target="_blank">DSNP
            1.2.0 Specification <img
            src="/images/external-link.svg" height=14></a></li>
            <li>&nbsp;</li>
            <li><a href="/mission-principles.html">Mission &amp; Principles</a></li>
            <li><a href="/advisors.html">Advisors</a></li>
            <li>&nbsp;</li>
            <li><a href="/blog/index.html">Blog</a></li>
            <li><a
            href="https://vimeo.com/showcase/dsnp-public-spec-meeting"
            target="_blank">Community Discussions <img
            src="/images/external-link.svg" height=14></a></li>
            <li><a href="https://forums.projectliberty.io/"
            target="_blank">Forums <img
            src="/images/external-link.svg" height=14></a></li>
        </ul>
        </div>
