---
layout: basic
---
        <div class="eight columns">
          {{ content }}
        </div>
        <div class="three columns offset-by-one">
          <div class="heading social">
            <ul class="socialLinks">
              <li><a href="https://github.com/LibertyDSNP" target="_blank"><img src="/images/icon-github.png" width="26px" title="DSNP on Github"></a></li>
              <li><a href="https://twitter.com/dsnp_org" target="_blank"><img src="/images/icon-twitter.png" width="26px" title="DSNP on Twitter"></a></li>
            </ul>
          </div>
          <ul class="nav">
            <li><b>About the Protocol</b></li>
            <li><a href="/about/overview.html">Overview</a></li>
            <li><a href="/introducing-dsnp.html">Origins</a></li>
            <li><a href="/dsnp_whitepaper.pdf" target="_blank">Whitepaper <img src="/images/external-link.svg" height=14></a></li>
            <li><a href="/about/why-dsnp.html">Why Build With DSNP?</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li>&nbsp;</li>
            <li><b>Governance</b></li>
            <li><a href="/governance/mission-principles.html">Mission &amp; Principles</a></li>
            <li><a href="/governance/framework.pdf" target="_blank">Governance Framework <img src="/images/external-link.svg" height=14></a></li>
            <li><a href="/governance/glossary.html">Glossary of Terms</a></li>
            <li><a href="/governance/spec-dev-process.html">Spec Development Process</a></li>
            <li><a href="/advisors.html">Advisory Council</a></li>
            <li>&nbsp;</li>
            <li><b>Specification</b></li>
            <li><a href="https://spec.dsnp.org/" target="_blank">DSNP 1.3.0 <img src="/images/external-link.svg" height=14></a></li>
            <li><a href="https://github.com/LibertyDSNP/spec/issues">Improvement Proposals <img src="/images/external-link.svg" height=14></a></li>
            <li><a href="https://vimeo.com/showcase/dsnp-public-spec-meeting" target="_blank">Public Spec Meetings <img src="/images/external-link.svg" height=14></a></li>
            <li>&nbsp;</li>
            <li><b>More Resources</b></li>
            <li><a href="/blog/index.html">DSNP.org Blog</a></li>
            <li><a href="/about/software.html">DSNP Software</a></li>
            <li><a href="https://forums.projectliberty.io/" target="_blank">Forums <img src="/images/external-link.svg" height=14></a></li>
          </ul>
        </div>
